<!DOCTYPE html>

<head>
    <title>Weather App</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Nunito:wght@200&display=swap"
        rel="stylesheet">
    <link rel="icon" href="/img/weather.png">
</head>

<body>
    <div class="heading">
        <h1>Weather App</h1>
    </div>
    <div class="container">
        <div class="first cc">
            <form>
                <input id="input" placeholder="Location">
                <button id="button">Search</button>
            </form>
            <div class="ffirst" id="ffirst">
                <img src="/img/img.png" alt="">
            </div>
        </div>
        <div class="second cc">
            <div class="sfirst ss" id="sfirst">
                <h2 id="headingtwo"></h2>
            </div>
            <div class="sfirstt ss" id="sfirstt">
                <h3 id="headingthree"></h3>
                <h5 id="headingfive"></h5>
            </div>
            <div class="ssecond ss" id="ssecond"></div>
        </div>
    </div>


    <script src="./js/script.js"></script>
</body>

</html>